@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: ZenMaruGothic;
  src: url(../fonts/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}